@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Orbitron:500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2"),url(../fonts/icons.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]:before,
[class^=_icon-]:before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
[class*=_icon-]:before,
[class^=_icon-]:before {
  display: block
}
._icon-bx-play:before {
  content: "\e907"
}
._icon-bxl-facebook:before {
  content: "\e900"
}
._icon-bxl-instagram:before {
  content: "\e901"
}
._icon-bxl-linkedin:before {
  content: "\e902"
}
._icon-bxl-twitter:before {
  content: "\e903"
}
._icon-bx-pause:before {
  content: "\e904"
}
._icon-bx-stop:before {
  content: "\e905"
}
._icon-play:before {
  content: "\e906";
  color: #fff
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Poppins,sans-serif;
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Poppins,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background: linear-gradient(180deg,#010208 16.395%,#010206 20.513%,#040008 24.786%,#010101 30.458%,#010101 34.11%,#010101 36.208%,#010101 100%)
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
body::-webkit-scrollbar {
  width: 15px
}
body::-webkit-scrollbar-track {
  background: linear-gradient(159deg,#d10eff 22%,#10a3da 42%)
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,.739);
  border-radius: 5px
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 3.125rem
}
.menu__link {
  padding: .25rem;
  color: #fff;
  font-size: 1rem;
  position: relative;
  background: linear-gradient(159deg,#d10eff 22%,#10a3da 42%,#fff 57%);
  background-size: 200% 200%;
  background-position: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.menu__link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: .1875rem;
  background: linear-gradient(158.4deg,#d10ed1 10.9%,#10a3da 88.221%);
  transition: all .1s
}
@-webkit-keyframes gradient {
  0% {
    background-position: 100% 100%
  }
  100% {
    background-position: 0 0
  }
}
@keyframes gradient {
  0% {
    background-position: 100% 100%
  }
  100% {
    background-position: 0 0
  }
}
.icon-menu {
  display: none
}
.spollers {
  display: grid;
  gap: 15px
}
.spollers__item {
  font-size: 1.25rem
}
.spollers__title {
  font-family: Orbitron,sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
  cursor: default;
  text-align: left;
  padding: .625rem .9375rem;
  padding-bottom: 1.3125rem;
  position: relative;
  list-style: none
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
._spoller-init .spollers__title {
  cursor: pointer
}
._spoller-init .spollers__title::after,
._spoller-init .spollers__title::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #fff;
  height: 2px;
  width: 15px;
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s,-webkit-transform .5s ease 0s
}
._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%,-50%) rotate(40deg);
  transform: translate(-75%,-50%) rotate(40deg)
}
._spoller-init .spollers__title::after {
  -webkit-transform: translate(0,-50%) rotate(-40deg);
  transform: translate(0,-50%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
  transform: translateX(-75%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg)
}
.spollers__body {
  padding: .625rem;
  border-radius: .3125rem
}
[data-showmore-button] span:last-child {
  display: none
}
._showmore-active [data-showmore-button] span {
  display: none
}
._showmore-active [data-showmore-button] span:last-child {
  display: block
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
[data-ripple] {
  position: relative;
  overflow: hidden
}
.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255,255,255,.3);
  border: 1px solid rgba(255,255,255,.5);
  -webkit-animation: button-circle 1.5s ease forwards;
  animation: button-circle 1.5s ease forwards
}
@-webkit-keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }
  100% {
    -webkit-transform: scale(10);
    transform: scale(10);
    opacity: 0
  }
}
@keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }
  100% {
    -webkit-transform: scale(10);
    transform: scale(10);
    opacity: 0
  }
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.activity__video-box {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 49.360146%
}
.activity__video-box embed,
.activity__video-box iframe,
.activity__video-box object,
.activity__video-box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.circle-gradient {
  pointer-events: none;
  position: fixed;
  z-index: -10;
  width: 55.375rem;
  height: 56rem;
  display: block;
  background: radial-gradient(40.5% 39.56% at 50% 50%,rgba(170,20,240,.28),rgba(170,20,240,0) 100%)
}
.circle-gradient--right {
  right: -27.6875rem
}
.circle-gradient--left {
  left: -27.6875rem
}
.circle-gradient--top {
  top: -28rem
}
.circle-gradient--bottom {
  bottom: -28rem
}
.text {
  line-height: 1.4
}
.text p:not(:last-child) {
  margin-bottom: .2em
}
.title {
  font-family: Orbitron,sant-serif;
  line-height: 1.511111;
  font-weight: 600
}
.title span {
  background: linear-gradient(158.4deg,#d10ed1 10.9%,#10a3da 88.221%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.action {
  display: flex;
  gap: .9375rem;
  flex-wrap: wrap
}
.button {
  background: linear-gradient(158.4deg,#d10ed1 10.9%,#10a3da 88.221%);
  padding: .75rem 1.875rem;
  border-radius: .3125rem;
  transition: all .3s
}
.button--border {
  position: relative;
  overflow: hidden;
  border-radius: .625rem;
  background: linear-gradient(158.4deg,#d10ed1 10.9%,#10a3da 88.221%) left top/100% .0625rem no-repeat,linear-gradient(158.4deg,#d10ed1 10.9%,#10a3da 88.221%) left bottom/100% .0625rem no-repeat
}
.button--border::after,
.button--border::before {
  content: "";
  position: absolute;
  height: 100%;
  width: .625rem;
  top: 0
}
.button--border::before {
  left: 0;
  border-radius: .625rem 0 0 .625rem;
  border: .0625rem solid #d10ed1;
  border-right: none
}
.button--border::after {
  right: 0;
  border-radius: 0 .625rem .625rem 0;
  border: .0625rem solid #10a3da;
  border-left: none
}
.block-clip {
  position: relative;
  display: flex;
  align-items: start;
  background-color: transparent
}
.block-clip__image-left {
  position: relative;
  aspect-ratio: 302/317;
  padding: .625rem;
  border-bottom-left-radius: 3.125rem;
  border-top-right-radius: 3.125rem
}
.block-clip__image-left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(158.4deg,#d10ed1 10.9%,#10a3da 88.221%);
  border-bottom-left-radius: 3.125rem;
  border-top-right-radius: 3.125rem
}
.block-clip__image-left::after {
  content: "";
  position: absolute;
  width: 99%;
  height: 99%;
  top: .5%;
  left: .7%;
  background: #000;
  z-index: 1;
  border-bottom-left-radius: 3.125rem;
  border-top-right-radius: 3.125rem
}
.block-clip__image-left img {
  aspect-ratio: 282/297;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  top: 3%;
  left: 3%;
  width: 94%;
  height: 94%;
  -o-object-fit: cover;
  object-fit: cover;
  border-bottom-left-radius: 2.8125rem;
  border-top-right-radius: 2.8125rem
}
.block-clip__image-right {
  position: relative;
  aspect-ratio: 312/327;
  border-top-left-radius: 3.125rem;
  border-bottom-right-radius: 3.125rem
}
.block-clip__image-right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(158.4deg,#8c43d4 10.9%,#10a3da 88.221%);
  border-top-left-radius: 2.8125rem;
  border-bottom-right-radius: 2.8125rem
}
.block-clip__image-right::after {
  content: "";
  position: absolute;
  width: 99%;
  height: 99%;
  top: .5%;
  left: .7%;
  background: #000;
  border-top-left-radius: 2.8125rem;
  border-bottom-right-radius: 2.8125rem
}
.block-clip__image-right img {
  aspect-ratio: 282/297;
  position: absolute;
  top: 3%;
  left: 3%;
  width: 94%;
  height: 94%;
  z-index: 2;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: 2.8125rem;
  border-bottom-right-radius: 2.8125rem
}
.count__items {
  display: flex
}
.item-count {
  display: grid;
  gap: .5rem
}
.item-count__count {
  font-family: Orbitron,sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.25
}
.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  transition: all .3s
}
.header__container {
  display: flex
}
.header__logo {
  min-width: 5.3125rem;
  z-index: 1;
  flex: 1 1 auto
}
.header__logo h2 {
  font-family: Orbitron,sans-serif;
  color: #fff;
  font-size: 1.375rem;
  font-weight: 700
}
._header-scroll {
  position: fixed;
  padding-top: 1.3125rem;
  padding-bottom: 1.3125rem;
  background: linear-gradient(180deg,#010208 16.395%,#010206 20.513%,#040008 24.786%,#010101 30.458%,#010101 34.11%,#010101 36.208%,#010101 100%)
}
.footer {
  background-color: #090823
}
.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.25rem
}
.footer__content {
  align-items: stretch
}
.footer__logo h2 {
  font-weight: 700;
  font-family: Orbitron,sans-serif;
  color: #fff;
  background: linear-gradient(158.4deg,#d10ed1 10.9%,#10a3da 88.221%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.footer__logo:not(:last-child) {
  margin-bottom: .46em
}
.footer__text p:not(:last-child) {
  margin-bottom: .2em
}
.footer__spollers {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex: 1 1 auto
}
.navigation-footer {
  display: grid;
  gap: 1.25rem
}
.navigation-footer__link {
  background: linear-gradient(159deg,#d10eff 22%,#10a3da 42%,#fff 57%);
  background-size: 200% 200%;
  background-position: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.social-footer {
  display: flex;
  gap: 1.3125rem
}
.social-footer:not(:last-child) {
  margin-bottom: 1.5rem
}
.social-footer__link {
  font-size: 1.5625rem;
  padding: .125rem;
  border: .125rem solid;
  border-radius: .1875rem;
  background: linear-gradient(159deg,#d10eff 22%,#10a3da 42%,#fff 57%);
  background-size: 200% 200%;
  background-position: 100% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all .3s
}
.copi:not(:last-child) {
  margin-bottom: .625rem
}
.hero__container {
  display: flex;
  gap: 1.875rem
}
.hero__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.hero__count:not(:last-child) {
  margin-bottom: 1.25rem
}
.hero__image {
  position: relative;
  overflow: hidden
}
.hero__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.hero__image::before {
  content: "";
  position: absolute;
  top: 80%;
  left: 0;
  width: 546px;
  height: 303px;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  background: #000;
  z-index: 2
}
.what-is__container {
  display: flex;
  gap: 1.25rem
}
.what-is__image {
  flex: 1 1 auto
}
.what-is__content {
  align-self: center
}
.what-is__title:not(:last-child) {
  margin-bottom: 1rem
}
.what-is__button:not(:last-child) {
  margin-bottom: 1rem
}
.work__title {
  text-align: center
}
.work__title:not(:last-child) {
  margin-bottom: 1rem
}
.work__text {
  text-align: center
}
.work__cards {
  display: grid;
  gap: 2.375rem;
  grid-template-columns: repeat(auto-fill,minmax(18.125rem,1fr))
}
.work__showmore {
  display: block;
  margin: 0 auto
}
.card-work {
  padding: 1.1875rem;
  background-color: #090823;
  border-radius: 0 .9375rem 0 .9375rem
}
.card-work__image {
  border-radius: 0 .9375rem 0 0;
  width: 100%;
  aspect-ratio: 335/217;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden
}
.card-work__image:not(:last-child) {
  margin-bottom: 1.4375rem
}
.card-work picture:not(:last-child) {
  margin-bottom: 1.4375rem
}
.card-work__name {
  font-family: Orbitron,sans-serif
}
.card-work__name:not(:last-child) {
  margin-bottom: .5rem
}
.card-work__text {
  font-size: .875rem
}
.card-work__text:not(:last-child) {
  margin-bottom: 1.75rem
}
.card-work__action:not(:last-child) {
  margin-bottom: 1.4375rem
}
.activity__container {
  text-align: center
}
.activity__title:not(:last-child) {
  margin-bottom: 1rem
}
.activity__text {
  margin: 0 auto;
  max-width: 35rem
}
.activity__video-box {
  border: .1875rem solid #d10ed1;
  overflow: hidden;
  border-radius: 1.5625rem
}
.activity__button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8181818182em;
  height: 1.8181818182em;
  border-radius: 50%;
  border: .125rem solid;
  background-color: rgba(255,255,255,.2);
  transition: all .3s
}
._playing .activity__button {
  pointer-events: none;
  font-size: .3125rem;
  width: .625rem;
  height: .625rem;
  opacity: 0
}
.activity__title-video {
  line-height: 1.285714;
  font-weight: 600;
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  left: 0;
  padding-left: 3.125rem;
  pointer-events: none;
  transition: all .5s
}
.activity__title-video * {
  z-index: 1
}
.activity__title-video::before {
  content: "";
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(255,255,255,.1)
}
._playing .activity__title-video {
  height: 0;
  opacity: 0
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:47.99875em) {
  .spollers__item {
    max-width: 15.625rem
  }
  .hero__content {
    max-width: 32.5rem
  }
  .hero__image img {
    background: url(../img/hero/decor.svg) 0 22.183099%/4rem 4.5625rem no-repeat
  }
  .what-is__content {
    max-width: 32.75rem
  }
  .work__showmore {
    display: none
  }
}
@media (min-width:61.99875em) {
  .footer__content {
    max-width: 31.25rem
  }
}
@media (min-width:73.125em) {
  .header {
    padding-top: 2.1875rem
  }
  .header {
    padding-bottom: 2.1875rem
  }
}
@media (min-width:75em) {
  .title {
    font-size: 2.8125rem
  }
  .block-clip__image-left {
    width: 18.875rem
  }
  .block-clip__image-left {
    height: 19.8125rem
  }
  .block-clip__image-right {
    width: 19.5rem
  }
  .block-clip__image-right {
    height: 20.4375rem
  }
  .block-clip__image-right {
    margin-top: 6.9375rem
  }
  .block-clip__image-right {
    margin-left: -3.625rem
  }
  .count__items {
    gap: 4.75rem
  }
  .footer {
    padding-top: 6.5rem
  }
  .footer {
    padding-bottom: 6.5rem
  }
  .footer__logo {
    font-size: 3.125rem
  }
  .page__hero {
    padding-top: 10.3125rem
  }
  .page__hero {
    margin-bottom: 7.25rem
  }
  .page__what-is {
    margin-bottom: 10.375rem
  }
  .page__work {
    margin-bottom: 10.375rem
  }
  .page__activity {
    margin-bottom: 10.375rem
  }
  .hero__content {
    padding-top: 8.625rem
  }
  .hero__text:not(:last-child) {
    margin-bottom: 3rem
  }
  .hero__action:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .what-is__text:not(:last-child) {
    margin-bottom: 3.25rem
  }
  .work__title {
    font-size: 2.1875rem
  }
  .work__text:not(:last-child) {
    margin-bottom: 5.4375rem
  }
  .work__cards:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .activity__text:not(:last-child) {
    margin-bottom: 3.4375rem
  }
  .activity__button {
    font-size: 4.125rem
  }
  .activity__button {
    flex-basis: 4.125rem
  }
  .activity__title-video {
    font-size: 2.8125rem
  }
}
@media (max-width:20em) {
  .title {
    font-size: 1.875rem
  }
  .block-clip__image-left {
    width: 9.4375rem
  }
  .block-clip__image-left {
    height: 9.875rem
  }
  .block-clip__image-right {
    width: 9.75rem
  }
  .block-clip__image-right {
    height: 10.1875rem
  }
  .block-clip__image-right {
    margin-top: 3.625rem
  }
  .block-clip__image-right {
    margin-left: -3rem
  }
  .count__items {
    gap: 1.25rem
  }
  .footer {
    padding-top: 2.8125rem
  }
  .footer {
    padding-bottom: 2.8125rem
  }
  .footer__logo {
    font-size: 2.1875rem
  }
  .page__hero {
    padding-top: 5rem
  }
  .page__hero {
    margin-bottom: 2.5rem
  }
  .page__what-is {
    margin-bottom: 2.5rem
  }
  .page__work {
    margin-bottom: 3.75rem
  }
  .page__activity {
    margin-bottom: 3.75rem
  }
  .hero__content {
    padding-top: .625rem
  }
  .hero__text:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .hero__action:not(:last-child) {
    margin-bottom: .9375rem
  }
  .what-is__text:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .work__title {
    font-size: 1.75rem
  }
  .work__text:not(:last-child) {
    margin-bottom: 2.375rem
  }
  .work__cards:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .activity__text:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .activity__button {
    font-size: 1.875rem
  }
  .activity__button {
    flex-basis: 1.875rem
  }
  .activity__title-video {
    font-size: .9375rem
  }
}
@media (max-width:61.99875em) {
  .header {
    padding-top: 1.3125rem
  }
  .header {
    padding-bottom: 1.3125rem
  }
  .footer__content {
    flex-basis: 100%
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem .9375rem .9375rem 1.875rem;
    transition: left .3s;
    background: linear-gradient(158.4deg,#d10ed1 10.9%,#10a3da 88.221%)
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2;
    background: linear-gradient(180deg,#010208 16.395%,#010206 20.513%,#040008 24.786%,#010101 30.458%,#010101 34.11%,#010101 36.208%,#010101 100%)
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    gap: 3.125rem;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 1.25rem;
    padding-top: 4.375rem
  }
  .menu__link {
    font-size: 1.5625rem;
    font-weight: 500
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.375rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .25rem;
    background: linear-gradient(158.4deg,#d10ed1 10.9%,#10a3da 88.221%)
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .125rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .spollers__item {
    width: 100%
  }
  .circle-gradient {
    display: none
  }
  .action__button {
    width: 100%
  }
  .footer__container {
    flex-wrap: wrap
  }
  .footer__spollers {
    flex-direction: column
  }
  .hero__container {
    flex-direction: column-reverse
  }
  .hero__count ul li {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2
  }
  .hero__count ul li:first-child {
    left: 1.25rem;
    top: 17.5rem
  }
  .hero__count ul li:nth-child(2) {
    left: 40%;
    top: 3.125rem
  }
  .hero__count ul li:last-child {
    top: 9.375rem;
    right: 1.25rem;
    left: auto
  }
  .hero__image {
    padding-top: 9.375rem;
    width: 100%;
    position: relative
  }
  .what-is__container {
    align-items: center;
    flex-direction: column
  }
}
@media (max-width:47.99875em) and (any-hover:hover) {
  .menu__link:hover {
    color: #fff
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (min-width:20em) and (max-width:75em) {
  @supports (font-size:clamp(1.875rem ,1.5340909091rem + 1.7045454545vw ,2.8125rem)) {
    .title {
      font-size: clamp(1.875rem ,1.5340909091rem + 1.7045454545vw ,2.8125rem)
    }
  }
  @supports not (font-size:clamp(1.875rem ,1.5340909091rem + 1.7045454545vw ,2.8125rem)) {
    .title {
      font-size: calc(1.875rem + .9375 * (100vw - 20rem)/ 55)
    }
  }
  @supports (width:clamp(9.4375rem ,6.0056818182rem + 17.1590909091vw ,18.875rem)) {
    .block-clip__image-left {
      width: clamp(9.4375rem ,6.0056818182rem + 17.1590909091vw ,18.875rem)
    }
  }
  @supports not (width:clamp(9.4375rem ,6.0056818182rem + 17.1590909091vw ,18.875rem)) {
    .block-clip__image-left {
      width: calc(9.4375rem + 9.4375 * (100vw - 20rem)/ 55)
    }
  }
  @supports (height:clamp(9.875rem ,6.2613636364rem + 18.0681818182vw ,19.8125rem)) {
    .block-clip__image-left {
      height: clamp(9.875rem ,6.2613636364rem + 18.0681818182vw ,19.8125rem)
    }
  }
  @supports not (height:clamp(9.875rem ,6.2613636364rem + 18.0681818182vw ,19.8125rem)) {
    .block-clip__image-left {
      height: calc(9.875rem + 9.9375 * (100vw - 20rem)/ 55)
    }
  }
  @supports (width:clamp(9.75rem ,6.2045454545rem + 17.7272727273vw ,19.5rem)) {
    .block-clip__image-right {
      width: clamp(9.75rem ,6.2045454545rem + 17.7272727273vw ,19.5rem)
    }
  }
  @supports not (width:clamp(9.75rem ,6.2045454545rem + 17.7272727273vw ,19.5rem)) {
    .block-clip__image-right {
      width: calc(9.75rem + 9.75 * (100vw - 20rem)/ 55)
    }
  }
  @supports (height:clamp(10.1875rem ,6.4602272727rem + 18.6363636364vw ,20.4375rem)) {
    .block-clip__image-right {
      height: clamp(10.1875rem ,6.4602272727rem + 18.6363636364vw ,20.4375rem)
    }
  }
  @supports not (height:clamp(10.1875rem ,6.4602272727rem + 18.6363636364vw ,20.4375rem)) {
    .block-clip__image-right {
      height: calc(10.1875rem + 10.25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-top:clamp(3.625rem ,2.4204545455rem + 6.0227272727vw ,6.9375rem)) {
    .block-clip__image-right {
      margin-top: clamp(3.625rem ,2.4204545455rem + 6.0227272727vw ,6.9375rem)
    }
  }
  @supports not (margin-top:clamp(3.625rem ,2.4204545455rem + 6.0227272727vw ,6.9375rem)) {
    .block-clip__image-right {
      margin-top: calc(3.625rem + 3.3125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-left:clamp(-3.625rem ,-2.7727272727rem + -1.1363636364vw ,-3rem)) {
    .block-clip__image-right {
      margin-left: clamp(-3.625rem ,-2.7727272727rem + -1.1363636364vw ,-3rem)
    }
  }
  @supports not (margin-left:clamp(-3.625rem ,-2.7727272727rem + -1.1363636364vw ,-3rem)) {
    .block-clip__image-right {
      margin-left: calc(-3rem + -.625 * (100vw - 20rem)/ 55)
    }
  }
  @supports (gap:clamp(1.25rem ,-0.0227272727rem + 6.3636363636vw ,4.75rem)) {
    .count__items {
      gap: clamp(1.25rem ,-.0227272727rem + 6.3636363636vw ,4.75rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,-0.0227272727rem + 6.3636363636vw ,4.75rem)) {
    .count__items {
      gap: calc(1.25rem + 3.5 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(2.8125rem ,1.4715909091rem + 6.7045454545vw ,6.5rem)) {
    .footer {
      padding-top: clamp(2.8125rem ,1.4715909091rem + 6.7045454545vw ,6.5rem)
    }
  }
  @supports not (padding-top:clamp(2.8125rem ,1.4715909091rem + 6.7045454545vw ,6.5rem)) {
    .footer {
      padding-top: calc(2.8125rem + 3.6875 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-bottom:clamp(2.8125rem ,1.4715909091rem + 6.7045454545vw ,6.5rem)) {
    .footer {
      padding-bottom: clamp(2.8125rem ,1.4715909091rem + 6.7045454545vw ,6.5rem)
    }
  }
  @supports not (padding-bottom:clamp(2.8125rem ,1.4715909091rem + 6.7045454545vw ,6.5rem)) {
    .footer {
      padding-bottom: calc(2.8125rem + 3.6875 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(2.1875rem ,1.8465909091rem + 1.7045454545vw ,3.125rem)) {
    .footer__logo {
      font-size: clamp(2.1875rem ,1.8465909091rem + 1.7045454545vw ,3.125rem)
    }
  }
  @supports not (font-size:clamp(2.1875rem ,1.8465909091rem + 1.7045454545vw ,3.125rem)) {
    .footer__logo {
      font-size: calc(2.1875rem + .9375 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(5rem ,3.0681818182rem + 9.6590909091vw ,10.3125rem)) {
    .page__hero {
      padding-top: clamp(5rem ,3.0681818182rem + 9.6590909091vw ,10.3125rem)
    }
  }
  @supports not (padding-top:clamp(5rem ,3.0681818182rem + 9.6590909091vw ,10.3125rem)) {
    .page__hero {
      padding-top: calc(5rem + 5.3125 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,0.7727272727rem + 8.6363636364vw ,7.25rem)) {
    .page__hero {
      margin-bottom: clamp(2.5rem ,.7727272727rem + 8.6363636364vw ,7.25rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,0.7727272727rem + 8.6363636364vw ,7.25rem)) {
    .page__hero {
      margin-bottom: calc(2.5rem + 4.75 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,-0.3636363636rem + 14.3181818182vw ,10.375rem)) {
    .page__what-is {
      margin-bottom: clamp(2.5rem ,-.3636363636rem + 14.3181818182vw ,10.375rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,-0.3636363636rem + 14.3181818182vw ,10.375rem)) {
    .page__what-is {
      margin-bottom: calc(2.5rem + 7.875 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(3.75rem ,1.3409090909rem + 12.0454545455vw ,10.375rem)) {
    .page__work {
      margin-bottom: clamp(3.75rem ,1.3409090909rem + 12.0454545455vw ,10.375rem)
    }
  }
  @supports not (margin-bottom:clamp(3.75rem ,1.3409090909rem + 12.0454545455vw ,10.375rem)) {
    .page__work {
      margin-bottom: calc(3.75rem + 6.625 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(3.75rem ,1.3409090909rem + 12.0454545455vw ,10.375rem)) {
    .page__activity {
      margin-bottom: clamp(3.75rem ,1.3409090909rem + 12.0454545455vw ,10.375rem)
    }
  }
  @supports not (margin-bottom:clamp(3.75rem ,1.3409090909rem + 12.0454545455vw ,10.375rem)) {
    .page__activity {
      margin-bottom: calc(3.75rem + 6.625 * (100vw - 20rem)/ 55)
    }
  }
  @supports (padding-top:clamp(0.625rem ,-2.2840909091rem + 14.5454545455vw ,8.625rem)) {
    .hero__content {
      padding-top: clamp(.625rem ,-2.2840909091rem + 14.5454545455vw ,8.625rem)
    }
  }
  @supports not (padding-top:clamp(0.625rem ,-2.2840909091rem + 14.5454545455vw ,8.625rem)) {
    .hero__content {
      padding-top: calc(.625rem + 8 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.6136363636rem + 3.1818181818vw ,3rem)) {
    .hero__text:not(:last-child) {
      margin-bottom: clamp(1.25rem ,.6136363636rem + 3.1818181818vw ,3rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.6136363636rem + 3.1818181818vw ,3rem)) {
    .hero__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.75 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(0.9375rem ,0.3693181818rem + 2.8409090909vw ,2.5rem)) {
    .hero__action:not(:last-child) {
      margin-bottom: clamp(.9375rem ,.3693181818rem + 2.8409090909vw ,2.5rem)
    }
  }
  @supports not (margin-bottom:clamp(0.9375rem ,0.3693181818rem + 2.8409090909vw ,2.5rem)) {
    .hero__action:not(:last-child) {
      margin-bottom: calc(.9375rem + 1.5625 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.5227272727rem + 3.6363636364vw ,3.25rem)) {
    .what-is__text:not(:last-child) {
      margin-bottom: clamp(1.25rem ,.5227272727rem + 3.6363636364vw ,3.25rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.5227272727rem + 3.6363636364vw ,3.25rem)) {
    .what-is__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 2 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1.75rem ,1.5909090909rem + 0.7954545455vw ,2.1875rem)) {
    .work__title {
      font-size: clamp(1.75rem ,1.5909090909rem + .7954545455vw ,2.1875rem)
    }
  }
  @supports not (font-size:clamp(1.75rem ,1.5909090909rem + 0.7954545455vw ,2.1875rem)) {
    .work__title {
      font-size: calc(1.75rem + .4375 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(2.375rem ,1.2613636364rem + 5.5681818182vw ,5.4375rem)) {
    .work__text:not(:last-child) {
      margin-bottom: clamp(2.375rem ,1.2613636364rem + 5.5681818182vw ,5.4375rem)
    }
  }
  @supports not (margin-bottom:clamp(2.375rem ,1.2613636364rem + 5.5681818182vw ,5.4375rem)) {
    .work__text:not(:last-child) {
      margin-bottom: calc(2.375rem + 3.0625 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.5681818182rem + 3.4090909091vw ,3.125rem)) {
    .work__cards:not(:last-child) {
      margin-bottom: clamp(1.25rem ,.5681818182rem + 3.4090909091vw ,3.125rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.5681818182rem + 3.4090909091vw ,3.125rem)) {
    .work__cards:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem)/ 55)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.4545454545rem + 3.9772727273vw ,3.4375rem)) {
    .activity__text:not(:last-child) {
      margin-bottom: clamp(1.25rem ,.4545454545rem + 3.9772727273vw ,3.4375rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.4545454545rem + 3.9772727273vw ,3.4375rem)) {
    .activity__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.1875 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(1.875rem ,1.0568181818rem + 4.0909090909vw ,4.125rem)) {
    .activity__button {
      font-size: clamp(1.875rem ,1.0568181818rem + 4.0909090909vw ,4.125rem)
    }
  }
  @supports not (font-size:clamp(1.875rem ,1.0568181818rem + 4.0909090909vw ,4.125rem)) {
    .activity__button {
      font-size: calc(1.875rem + 2.25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (flex-basis:clamp(1.875rem ,1.0568181818rem + 4.0909090909vw ,4.125rem)) {
    .activity__button {
      flex-basis: clamp(1.875rem ,1.0568181818rem + 4.0909090909vw ,4.125rem)
    }
  }
  @supports not (flex-basis:clamp(1.875rem ,1.0568181818rem + 4.0909090909vw ,4.125rem)) {
    .activity__button {
      flex-basis: calc(1.875rem + 2.25 * (100vw - 20rem)/ 55)
    }
  }
  @supports (font-size:clamp(0.9375rem ,0.2556818182rem + 3.4090909091vw ,2.8125rem)) {
    .activity__title-video {
      font-size: clamp(.9375rem ,.2556818182rem + 3.4090909091vw ,2.8125rem)
    }
  }
  @supports not (font-size:clamp(0.9375rem ,0.2556818182rem + 3.4090909091vw ,2.8125rem)) {
    .activity__title-video {
      font-size: calc(.9375rem + 1.875 * (100vw - 20rem)/ 55)
    }
  }
}
@media (min-width:61.99875em) and (max-width:73.125em) {
  @supports (padding-top:clamp(1.3125rem ,-3.5632583418rem + 7.8642849118vw ,2.1875rem)) {
    .header {
      padding-top: clamp(1.3125rem ,-3.5632583418rem + 7.8642849118vw ,2.1875rem)
    }
  }
  @supports not (padding-top:clamp(1.3125rem ,-3.5632583418rem + 7.8642849118vw ,2.1875rem)) {
    .header {
      padding-top: calc(1.3125rem + .875 * (100vw - 61.99875rem)/ 11.12625)
    }
  }
  @supports (padding-bottom:clamp(1.3125rem ,-3.5632583418rem + 7.8642849118vw ,2.1875rem)) {
    .header {
      padding-bottom: clamp(1.3125rem ,-3.5632583418rem + 7.8642849118vw ,2.1875rem)
    }
  }
  @supports not (padding-bottom:clamp(1.3125rem ,-3.5632583418rem + 7.8642849118vw ,2.1875rem)) {
    .header {
      padding-bottom: calc(1.3125rem + .875 * (100vw - 61.99875rem)/ 11.12625)
    }
  }
}
@media (any-hover:hover) {
  .menu__link:hover {
    -webkit-animation: gradient .4s ease-in-out forwards;
    animation: gradient .4s ease-in-out forwards;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
  }
  .menu__link:hover::before {
    content: "";
    position: absolute;
    transition: all .3s;
    top: 100%;
    left: 0;
    width: 100%;
    height: .125rem;
    background: linear-gradient(158.4deg,#d10ed1 10.9%,#10a3da 88.221%)
  }
  .button:hover {
    -webkit-filter: hue-rotate(40deg);
    filter: hue-rotate(40deg);
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .navigation-footer__link:hover {
    -webkit-animation: gradient .4s ease-in-out forwards;
    animation: gradient .4s ease-in-out forwards;
    -webkit-background-clip: text
  }
  .social-footer__link:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    border-color: transparent;
    -webkit-animation: gradient .4s ease-in-out forwards;
    animation: gradient .4s ease-in-out forwards;
    -webkit-background-clip: text
  }
}